<!DOCTYPE html>
<html>

<head>
    <title>Change password Email</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
<h3>Yêu cầu đặt lại mật khẩu</h3>
<p>Xin chào {{email}},</p>
<p>Bạn vừa yêu cầu đặt lại mật khẩu. Vui lòng nhấn vào liên kết bên dưới để tiến hành:</p>

<a href="{{resetLink}}">Đặt lại mật khẩu</a>

<p>Nếu bạn không yêu cầu, hãy bỏ qua email này.</p>
</body>
   

</html>